<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/contact.css">
    <title>iletişim</title>
</head>
<body>
    <%- include('partials/__nav.ejs') %> 
    <h1>ekle</h1>
    <form action="/add" method="POST" autocomplete="off">
        <label for="ad">ad</label>
        <input type="text" name="ad" required>
        <label for="soyad">soyad</label>
        <input type="text" name="soyad" required>
        <label for="veriler">veriler</label>
        <textarea name="veriler" id="veriler" cols="30" rows="10" required></textarea>
        <input type="submit" value="ekle">
    </form>
    <script></script>
</body>
</html>