<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/skeleton.css">
    <link rel="stylesheet" href="../assets/style.css">
    <title>index</title>
</head>
<body>
    <div class="container">
    <%- include('partials/__nav.ejs') %> 
    <h1>kayıtlar</h1>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>id</th>
                <th>ad</th>
                <th>soyad</th>
                <th>veriler</th>
                <th>işlem</th>
            </tr>
        </thead>
        <tbody>
            <% kisiler.forEach(element => { %>
                <tr>
                    <td><%= element.id %></td>
                    <td><%= element.ad %></td>
                    <td><%= element.soyad %></td>
                    <td><%= element.veriler %></td>
                    <td>
                        <a href="/form?id=<%= element.id %>">Güncelle</a>
                        <a href="/rm?id=<%= element.id %>" onclick="return confirm('silmek istediğinize emin misin ?')">Sil</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </div>
</body>
</html>