<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/profile.css">
    <title>profil</title>
</head>
<body>
    <%- include('partials/__nav.ejs') %>
    <form action="" method="get" autocomplete="off">
        <label for="ad">profili getirilecek id yi girin</label>
        <input type="text" name="id" required>
        <input type="submit" value="ara">
    </form>
    <% if (typeof id !='undefined' ) { %>
        <h2>
            <%= ad %> profil sayfası
        </h2>
        <h3>
            soyad : <%= soyad %>
        </h3>
        <ul>
            <% for (veri of veriler) { %>
                <li>
                    <%= veri %>
                </li>
                <% } %>
        </ul>
        <br>
        <a href="/rm?id=<%= id %>" onclick="return confirm('silmek istediğinize emin misin ?')">Sil</a>
        <% } else if (typeof hata == 'boolean'){ %>
            <h1>404 : kişi bulunamadı</h1>
        <% } %>
</body>
</html>