* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: system-ui, 'Ubuntu' !important;
    width: 100%;
    height: 100%;
}

body {
    text-align: center;
    background-color: #23252e;
    width: 100%;
    height: 100%;
    color: white;
}

ul li {
    display: inline-flex;
    flex-direction: column;
    color: white;
    margin: 10px 10px 0;
    font-size: 18px;
}

a {
    transition: 500ms color;
    color: white;
}

a:hover {
    color: #00dfba;
}

h1 {
    margin-bottom: 15px;
    padding-top: 15px;
}